

p { margin-left: 50px;
   }

   body p { 
       background-color: darkorange;
   }

   .class { 
       background-color: darkslategrey;
   }

   body .class { 
    background-color: forestgreen;
}

#id-1 {
    background-color: indianred;
}

h.class {
    box-sizing:border box;
    margin: 5px;
    border: 2px;
    padding: 20px;
    height: 50px;
    width: 50px;
}