
.red {

background-color: red;
height: 180 px;}

.blue { background-color: blue;
    height: 200px;
    width: 200px;
    position: relative;
    top: 0px;
    left: 100px;}

    .green { background-color: rgb(0, 255, 98);
        height: 480px;
        
        position: relative;
        top: 0px;
        left: 100px;}