img.class-1 {
    float: right;}

p .clear {}

header { background-color: red;
    padding: 5px;
    margin-bottom: 20px;}

.logo {
    height: 25px;
    width: 75px;
    background-color: blue;}

.nav-item { background-color: salmon;

}

.item-1 { background-color: purple;}

.item-2 {}

.item-3{}

